/* ----- General Styles ----- */
h1 {
    font-size: 7em;
    font-family: 'Bevan', cursive;
    text-align: center;
    color: #fb8727;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    margin: 2% auto auto auto;
}

h2 {
    font-size:  3em;
    font-family: 'Bevan', cursive;
    padding-top: 2%;
    color: #fb8727;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h3 {
    font-size: 2em;
    font-family: 'Bevan', cursive;
    color: red;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
}

p {
    font-size: 2em;
    font-family: 'Exo', sans-serif;
}

a {
    font-size: 1.5em;
    font-family: 'Exo', sans-serif;
}

li {
    font-family: 'Exo', sans-serif;    
}

/* ----- Class specific Syles (alphabetical) -----  */

.additionalDocumentsContainer {
    background-color: hsla(0, 0%, 86%, 0.9);
    padding-bottom: 2%;
}

.additionalDocumentsContainer h2 {
    margin: auto; 
    text-align: center;
}

.additionalDocumentsContainer h3{
    margin:auto;
    text-align: center;
    margin: 2% auto 0 auto;
    padding-bottom: 2%;
}

.attentionGrabContainer {
    display: flex;
    justify-content: flex-start;
    background-color: hsla(0,0%,86.3%,.9);
}

.attentionGrabContainer p {
    padding-left: 2%;
    position: relative;
    bottom: 5px;
}

.appealContainer{
    background-color: hsla(0, 0%, 86%, 0.9);
    margin: 0;
}

.appealContainer h2{
    text-align: center;
    margin: 0;
}

.appealContainer ol{
    font-size: 2em;
    position: relative;
    left: 41%;
    margin-bottom: 0;
    padding-bottom: 2%;
}

.commonViolationsContainer{
    background-color: rgba(245, 242, 238, 0.934);
    padding-bottom: 1%;
    margin: auto;
}

.commonViolationsContainer h2 {
    margin: auto;
    text-align: center;
}

.commonViolationsContainer p {
    text-align: center;
    position: relative;
}

.resourceContainer {
    background-color: rgba(245, 242, 238, 0.934);
}

.resourceContainer ul {
    padding-left: 2%;
    padding-bottom: 50px;
    margin-bottom: 0;
}

.resourceContainer li {
    float: left;
    margin-left: 10%;
}
/* .resourceContainer li, a{
    display: block;
} */

.resourceContainer h2{
    text-align: center;
    margin: 0;
}

.subtitle {
    margin: auto auto 3%;
    padding-left: 45%;
}

.titleContainer {
    background-color: rgba(245, 242, 238, 0.934);
    padding-bottom: 1px;
    padding-top: 1px;
}

iframe {
    background-color: #777;
    display:block;
    border-style:none;
    margin: 0 auto;
}